body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1b263b;
}

.container{
    background-color: #415a77;
    padding: 20px;
    border-radius: 8px;
}

h1{
    color: white;
}
#password{
    background-color: white;
    margin-top: 20px;
    font-size: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e0e1dd;
    color: rgb(29, 29, 29);
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    transition:  background-color 0.3s ease;

}
button:hover{
    background-color: #293958;
    color: white;
}